@using Cinema.ViewModels
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Profile";
}

<head>
    <link href="~/css/profile.css" rel="stylesheet">
</head>

<div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
        Профиль
    </h4>

    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-3 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#general">Личные данные</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#change-profile">Изменение пароля</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#tickets">Билеты</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="general">

                        <div class="card-body">

                            <div class="form-group">
                                <label class="form-label">Имя</label>
                                <input type="text" class="form-control" value="">
                            </div>

                            <div class="form-group">
                                <label class="form-label">Почта</label>
                                <input type="text" class="form-control" value="">
                            </div>

                            <div class="text-right mt-3">
                                <button type="button" class="btn btn-primary">Сохранить изменения</button>&nbsp;
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="change-profile">
                        <form method="post" asp-controller="Account" asp-action="ChangePassword">
                            <div class="card-body pb-2">

                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="Email" />

                                <div class="form-group">
                                    <label asp-for="NewPassword" class="form-label">Новый пароль</label>
                                    <input type="password" class="form-control" asp-for="NewPassword">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Повторите новый пароль</label>
                                    <input type="password" class="form-control">
                                </div>

                                <div class="text-right mt-3">
                                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>&nbsp;
                                </div>

                            </div>
                        </form>
                    </div>    
                    
                    <div class="tab-pane fade" id="tickets">
                        @{
                            foreach (var ticket in Model.Tickets)
                            {
                                <a>Сеанс: @ticket.Session.Date.ToString("d")  Время: @ticket.Session.Time  Зал: @ticket.Session.Hall</a><br />
                                foreach (var seat in ticket.BookedSeats)
                                {
                                    <a>Ряд: @seat.Row Место: @seat.seat</a> <br />
                                }
                                <br />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>