@model  IEnumerable<Session>
@if (ViewBag.msg != null)
            {
                <div class="alert alert-success">@ViewBag.msg</div>
            }
<link rel='stylesheet' href='~/css/schedule.css'>
<ul class="main">
    <li class="date">
        <h3>CEАНСЫ</h3>
        <p>Schedule of Events</p>
    </li>
    <li class="events">
        <ul class="events-detail">
            @{
                foreach (var item in Model)
                {
                    <li>
                                    <a asp-controller="Movies" asp-action="Session" asp-route-id="@item.Id">
                                        <span class="Дата">@item.Date.ToString("d")</span>
                                        <span class="event-time">@item.Time</span>
                                        <span class="event-name"> Фильм: @item.Movie.Name</span>
                                        <br />
                                        <span class="event-location">Cinema: @item.Cinema.Name</span>
                                    </a>
                    </li>
                }
            }
        </ul>


    </li>



    


    </li>

</ul>  