@using Cinema.ViewModels
@model BookingModel
 @{
     Layout = null;
}
<a class="accordion-button" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
<link rel='stylesheet' href='~/css/session.css'>
<form asp-controller="Movies" asp-action="Buy">
    <div class="container">
        <input type="hidden" name="sessionId" value="@Model.session.Id" />
        <input type="hidden" name="movie" id="movie" value="@Model.session.TicketPrice" />
        <div class="seat__availability">
            <div class="seat__info">
                <div class="seat seat-infoStyle"></div>
                <div class="seat-type-name">Available</div>
            </div>
            <div class="seat__info">
                <div class="seat seat-infoStyle seat-taken"></div>
                <div class="seat-type-name">Taken</div>
            </div>
            <div class="seat__info">
                <div class="seat seat-infoStyle seat-selected"></div>
                <div class="seat-type-name">Selected</div>
            </div>
        </div>
        <div class="screen"></div>
        <div class="seat__arrangement">
            @{ int a = 0;
                for (int i = 0; i < 9; i++)
                {
                    <div class="row">
                        @for (int j = 0; j < 10; j++)
                        {
                            if (Model.session.AvailableSeats.FirstOrDefault(s => s.Row == i + 1 && s.seat == j + 1) == null)
                            {
                                <div class="seat seat-taken"></div>
                            }
                            else
                            {
                                <input type="hidden" asp-for="@Model.seats[a].row" />
                                <input type="hidden" asp-for="@Model.seats[a].seat" />
                                <input type="checkbox" class="seat" asp-for="@Model.seats[a].selected" />
                                a++;
                            }
                        }
                    </div>
                }
            }
        </div>
        <div class="booking__details">
            <div class="booking__cost">
                <p>Seats Selected: <span class="seat__count"></span></p>
                <p>Total Cost: <span class="total__cost"></span> руб.</p>
            </div>
            <button type="submit">Confirm</button>
        </div>
    </div>
</form>
<script src='~/js/session.js'></script>